<launch>
    <arg name="model_name" value="v28"/>

    
    <include file="$(find aquadrone_description)/launch/upload_sub.launch">
        <arg name="model_file" value="$(arg model_name).urdf.xacro"/>
    </include>
    

    <include file="$(find thruster_control)/launch/sim_control.launch">
        <arg name="model" value="$(arg model_name)"/>
    </include>

    <param name="model" value="$(arg model_name)"/>
    <node name="state_est" pkg="state_estimation" type="ekf_node.py"/>

    <node name="depth_sensor" pkg="aquadrone_sensors" type="ms5837_node.py"/>

    <include file="$(find imu_bno055)/launch/imu.launch">
    </include>

</launch>
