<launch>
  <param name='test_data_path' type='str' value='$(find vision)/nodes/testdata/'/>
  <node name='test_input_node' pkg='vision' type='test_input_node.py' output='screen' />
  <node name='image_preprocessing_node' pkg='vision' type='image_preprocessing_node.py' output='screen' />
  <node name='object_detection_simulator_node' pkg='vision' type='object_detection_simulator_node.py' output='screen' />
  <node name='image_post_processing_node' pkg='vision' type='image_post_processing_node.py' output='screen' />
  <node name='test_output_node' pkg='vision' type='test_output_node.py' output='screen' />
</launch>
