catkin_ws/build/*
catkin_ws/.catkin_tools/*
catkin_ws/.catkin_workspace
catkin_ws/devel
catkin_ws/logs
/.idea
/venv

*.pyc

*.vscode

.bash_history
.cache
.config
.gazebo
.local
.nv
.ros
.rviz
.sdformat