<launch>
    <arg name="world" default="empty"/>
    <arg name="model_name" default="v28"/>
    <arg name="omniscient_ekf" default="True"/>
    <arg name="computation_factor" default="1"/>

    <include file="$(find aquadrone_sim_worlds)/launch/$(arg world)_world.launch">
        <arg name="paused" value="false"/>
        <arg name="computation_factor" value="$(arg computation_factor)"/>
    </include>
    
    <include file="$(find aquadrone_description)/launch/upload_sub.launch">
        <arg name="model_file" value="$(arg model_name).urdf.xacro"/>
    </include>
    
    <include file="$(find aquadrone_description)/launch/spawn_sub.launch">
        <arg name="model" value="aquadrone"/>
    </include>

    <include file="$(find thruster_control)/launch/control.launch">
        <arg name="real" value="False"/>
        <arg name="model" value="$(arg model_name)"/>
    </include>

    <include file="$(find stability)/launch/stability.launch" />

    <include file="$(find state_estimation)/launch/localization.launch">
        <arg name="omniscient" value="$(arg omniscient_ekf)"/>
    </include>

</launch>
