<launch>
  <param name="robot_description"
     command="$(find xacro)/xacro.py $(find simple_sim)/urdf/simple_sub.urdf.xacro" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

 <node name="urdf_spawner"
       pkg="gazebo_ros"
       type="spawn_model"
       respawn="false"
       output="screen"
       args="-urdf -model sub -param robot_description -z 1"/>

<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/robot1" args="joint_state_controller" />

<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>