<launch>
    <arg name="model_name" default="v2"/>

    <include file="$(find aquadrone_sim_worlds)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
    </include>
    
    <include file="$(find aquadrone_description)/launch/upload_sub.launch">
        <arg name="model_file" value="$(arg model_file).urdf.xacro"/>
    </include>
    
    <include file="$(find aquadrone_description)/launch/spawn_sub.launch">
        <arg name="model" value="aquadrone_v2"/>
    </include>

    <include file="$(find thruster_control)/launch/sim_control.launch"/>

</launch>