<launch>

    <node name="command_controller" pkg="thruster_control" type="v2_command_manager.py" output="screen"/>
    <node name="thruster_controller" pkg="thruster_control" type="v2_sim_thruster_controller.py" output="screen"/>
    <node name="depth_pid" pkg="thruster_control" type="demo_depth_control.py" output="screen"/>

</launch>