<launch>
    <arg name="model" default="v28"/>
    <param name="model" value="$(arg model)"/>

    <node name="thruster_controller" pkg="thruster_control" type="thruster_controller.py" output="screen"/>
    <node name="thrust_distributor" pkg="thruster_control" type="thrust_distributor.py" output="screen"/>
</launch>