<launch>
    <arg name="testctl"/>
    <arg name="duration" default="5"/>
    
    <include file="$(find aquadrone_sim_demos)/launch/empty.launch">
        <arg name="model_name" value="v28"/>
    </include>
    
    <!-- TEST ELEMENTS: -->
    <node name="test_controller" pkg="auto_test" type="$(arg testctl).py" output="screen" args="duration:=$(arg duration)"/>
    
</launch>
