<launch>
    <arg name="duration" default="5"/>

    <!-- REQUIRED ELEMENTS: -->    
    <node name="fake_news" pkg="auto_test" type="fake_data.py"/>
    
    <!-- TEST ELEMENTS: -->
    <node name="test_depth" pkg="auto_test" type="tester_depth.py" output="screen" args="duration:=$(arg duration)"/>
    
</launch>
