<launch>
    <arg name="model" default="v28"/>

    <include file="$(find aquadrone_real_demos)/launch/empty.launch">
        <arg name="model" value="$(arg model)"/>
        <arg name="enable_computer" value="True"/>
    </include>

    <node name="dive_test" pkg="path_planning" type="dive_test.py" output="screen"/>
</launch>
