<launch>
    <arg name="omniscient" default="True"/>

    <rosparam command="load" file="$(find state_estimation)/config/submarine.yaml"/>

    <node name="omniscient_state_est" pkg="state_estimation" type="omniscient_ekf_node.py" output="screen"
          required="True" if="$(arg omniscient)"/>
    <node name="state_est" pkg="state_estimation" type="ekf_node.py" output="screen" required="True"
          unless="$(arg omniscient)"/>
</launch>
