<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:macro name="cylinder_link" params="parent name radius length *origin *material">

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${name}_link"/>
      <xacro:insert_block name="origin" />
    </joint>

    <link name="${name}_link">

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${length}" />
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="${radius}" length="${length}" />
        </geometry>
      </collision>

    </link>

    <gazebo reference="${name}_link">
      <xacro:insert_block name="material" />
    </gazebo>

</xacro:macro>
</robot>