<launch>
    <arg name="real" default="False"/>
    <node name="pneumatics_controller" pkg="aquadrone_pneumatics" type="real_pneumatics_node.py" output="screen" if="$(arg real)"/>
    <node name="simulated_pneumatics_controller" pkg="aquadrone_pneumatics" type="simulated_pneumatics_node.py" output="screen" unless="$(arg real)"/>
</launch>
